@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin:0;
    padding:0;

}

.container{
   
    background-color: #d6d4e0;
    
    height: 100vh;
    background-size: 100% 100%;
    
}
.container .navbar{
    width: 100%;
    height: 80px;
    background: #622569;

}
.navbar .logo{
    display:inline-block;   
    margin-left:50px;
    margin-top: 20px;
}
.navbar .logo a{
    text-decoration: none;
    font-size: 36px;
    font-family: sans-serif;
    letter-spacing: 4px;
    color: white;
}
.navbar .logo i{
    margin-left: 3px;
    color: white;
}
    
.navbar ul{
    float: right;
    margin-right: 30px;
    margin-top: 25px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    
}
.navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 6px 10px;
    font-family: Roboto;
    color:white;
}

.container .column{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.container .center{
    position: absolute;
    top: 25%;
    left: 20%;


}

input[type=text] {
    font-family: sans-serif;
    width: 50%;
    padding: 8px 20px;
    border: 2px solid #622569;
    border-left-width: 3px;
    border-radius: 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus{
  
        width: 100%;    
        outline:none;
      
        border: 1px solid #eee;
      
        border-left: 3px solid #622569;
}
textarea {
    width: 120%;
    height: 400px;
    padding: 12px 20px;
    color: black;
    box-sizing: border-box;
    border: 2px solid #622569;
    border-radius: 8px;
    background-color: #f8f8f8;
    resize: none;
}
.buttonloc{
    position: absolute;
    top: 200px;
    left: 940px;
}

.nfa-button {
    background-color:#622569;
    color:white;
    width: 190%;
    border-radius: 25px;
}
#sonuc{
    background-color: white;
    border: 2px solid #622569;
    border-radius: 8px;
    width: 120%;
    color:black ;
}